@model dynamic

<h1>Manage Users</h1>

<h2>Customers</h2>
<ul>
    @foreach (var customer in Model.Customers)
    {
        <li>@customer.FirstName @customer.LastName - @customer.Email</li>
    }
</ul>

<h2>Retailers</h2>
<ul>
    @foreach (var retailer in Model.Retailers)
    {
        <li>@retailer.FarmName - @retailer.Email</li>
    }
</ul>
